@{
    var name = Session["Name"];
 }
<div class="navbar-brand navbar-right">
     @if (name == null)
     {  <div style="font-size:small">
             @Html.ActionLink("Sign up", "Register", "Account")
             @Html.ActionLink("Log in", "Login", "Account")
         </div>
     }
     else
     {
            <div style="font-size:small">
                @name@Html.ActionLink("Logout","Logoff","Account")
            </div>
     }
    </div>

